## TCD_19 Tutorial 2. Exploratory data analysis with Seaborn and Using Pandas like SQL

Created by Emanuel Flores-Bautista 2019  All content contained in this notebook is licensed under a [Creative Commons License 4.0](https://creativecommons.org/licenses/by/4.0/). The code is licensed under a [MIT license](https://opensource.org/licenses/MIT).

This tutorial was based on the following pandas documentation [tutorial](https://pandas.pydata.org/pandas-docs/stable/comparison_with_sql.html).

After thinking that I would be involved in querying with IDs in Computational Biology and a lot of work is related with databases, I wanted to explore a bit of [SQL](https://es.wikipedia.org/wiki/SQL). This is an amazing learn-by-doing tutorial on how to use Pandas as SQL.

In [1]:
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

import pandas as pd 
import numpy as np 
import seaborn as sns

In [2]:
tips = sns.load_dataset("tips")

In [3]:
type(tips)

pandas.core.frame.DataFrame

We introduce now the glorious Pandas' `DataFrame`, that is the way to work with structured data (`.xls, .csv, .tsv` ...) in Python.

The `.head()` method returns the first five rows of our `DataFrame`

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Likewise, `.tail` method returns the last five rows...

In [5]:
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

We can see the size of our data set, calling the `shape` attribute.

In [6]:
tips.shape

(244, 7)

First thing we can do when we are working with `DataFrame`s is to call the `.describe()` method.

In [7]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Now we have a sense of our data. There are three numerical columns and we know their descriptive statistics, and their quartiles.

In [8]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

The map iterates over each element of a series.

In [10]:
tips['tip'].map(lambda x: 10+x).head()

0    11.01
1    11.66
2    13.50
3    13.31
4    13.61
Name: tip, dtype: float64

As the name suggests, applies a function along any axis of the DataFrame.

In [16]:
tips[['tip']].apply(sum)

tip    731.58
dtype: float64

`applymap`applies a function to every element in a DataFrame.

In [20]:
func = lambda x: x+2
tips.iloc[:,:2].applymap(func).head()

   total_bill   tip
0       18.99  3.01
1       12.34  3.66
2       23.01  5.50
3       25.68  5.31
4       26.59  5.61

In [22]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### Selecting columns

It's better to select columns and create a new dataframe, than dropping the unwanted columns one by one.

In [ ]:
tips[['total_bill', 'tip', 'smoker']].head()

### Filtering

The most intuitive way of filtering is through boolean indexing. Let's select the data corresponding to Dinner in our data set.

In [ ]:
(tips['time'] == 'Dinner').tail()

In this way, we can see that the returned object is a column of boolean objects. We can now call this boolean column to select what we want from our data.

In [ ]:
tips[tips['time'] == 'Dinner'].tail()

The above statement is passing a Series of `True/ False` objects to the DataFrame, returning all rows with `True`.

This is another way to do it.

In [ ]:
is_dinner = tips['time'] == 'Dinner'
    
##This yields exactly the same 
tips[is_dinner].tail()

Let's now count the number of dinner entries in our data set. we can use the `.value_counts()` method to do so.

In [ ]:
is_dinner.value_counts()

There are a lot of methods like this one, already implemented in Pandas.

Multiple conditions can be passed to a DataFrame to filter (OR, AND, XOR..)

In [ ]:
tips[(is_dinner) & (tips['size'] < 5)].head() ## less than five tippers at dinner time

In [ ]:
tips[(is_dinner) | (tips['size'] < 5.)].tail() # OR

### Exploratory Data Analysis (EDA)

We'll now use the amazing [Seaborn](http://seaborn.pydata.org/) module to do some EDA. I strongly encourage you to look at their [gallery](http://seaborn.pydata.org/examples/index.html) to see some awesome examples. This module is great to make some interesting and publishable graphs for your future papers.

We'll explore our data set using different color [palettes](https://seaborn.pydata.org/tutorial/color_palettes.html).

Let's ask: in average, who tips more men or women?

In [ ]:
ax = sns.boxplot(x= tips['sex'], y = tips['tip'], palette = "husl")
ax.set_title('Tips by sex', fontsize= 18)
ax.set_yscale('log')

We can see that on average, men are higher tippers... sorry women, not being macho, this could be a biased data set... :)

The plot above is called [`boxplot`](https://seaborn.pydata.org/generated/seaborn.boxplot.html), or whiskerplot, and was created by John Tukey himself!

> #####  In descriptive statistics, a boxplot (also known as a box-and-whisker diagram or plot) is a convenient way of graphically depicting groups of numerical data through their five-number summaries (the smallest observation, lower quartile (Q1), median (Q2), upper quartile (Q3), and largest observation). A boxplot may also indicate which observations, if any, might be considered outliers. The boxplot was invented in 1977 by the American statistician John Tukey.

We can visualize the distribution differently using a [`violinplot`](https://seaborn.pydata.org/generated/seaborn.violinplot.html). Violinplots are also great to compare the distributions of datasets across different categorical variables. One key difference between box plots and violin plots is that a box plot is composed by the actual attributes of the data, whereas a violin plot uses computes a kernel density estimation (KDE) of the distribution. A KDE plot-which we will see in the following tutorial- is like a histogram, but it estimates the probability density of a continuous variable.

In [ ]:
ax = sns.violinplot(x= tips['sex'], y = tips['tip'], palette = "husl")
ax.set_title('Tips by sex', fontsize= 18);

To get a better sense of the data when using violin plots, I personally prefer to set the `inner` parameter to quartile, as it shows the locations of the quartiles (25th, 75th percentile and the median) in the data, and gives a sense of how the data is distributed. Moreover, I like that all of the violins have the same width, so they are readily comparable to each other, thus I set the `scale` parameter to width.

In [ ]:
ax = sns.violinplot(x= tips['sex'], y = tips['tip'], inner = 'quartile', scale= 'width',
                    palette = "husl")
ax.set_title('Tips by sex', fontsize= 18)

Violinplots are nice, but to get a real sense of the raw data, is best to use a `stripplot` or `swarmplot` to visualize the individual points in a dataset.

In [ ]:
ax = sns.stripplot(x= tips['sex'], y = tips['tip'], palette = "husl")
ax.set_title('Tips by sex', fontsize= 18)

In [ ]:
ax = sns.swarmplot(x= tips['sex'], y = tips['tip'], palette = "husl")
ax.set_title('Tips by sex', fontsize= 18)

but the best of the best is to use a swarm plot + a boxplot.

In [ ]:
ax = sns.boxplot(x= tips['sex'], y = tips['tip'],color='lightgrey')
ax = sns.swarmplot(x= tips['sex'], y = tips['tip'], palette = "husl", alpha = 0.7,
                  size = 6)

ax.set_title('Tips by sex', fontsize= 18)

Now we can see that the male and female distributions are actually quite similar, nevertheless, there are some outilers in the male data that actually could let us believe that our previous intuition using only the boxplots are actually true.

Now it's your turn, can you implement a violinplot + a swarmplot ? Use a different palette for fun.

In [ ]:
## write your code here 

ax = 
ax = 

ax.set_title()

Now that we have a fairly good visualizing toolbox, let's keep interrogating our data. Which day is the best, tips-wise?

In [ ]:
ax = sns.swarmplot(x= tips['day'], y = tips['tip'], palette = "hls")
ax.set_title('Tips by day', fontsize= 18);

Did you see it coming?

Who tips more, smokers or non-smokers?

In [ ]:
##Write your code here

We can visualize multiple variables of our data using the `hue` argument. Let's repeat the question, what day is the best, tips-wise? Does the smoker, non-smoker principles holds ?

In [ ]:
ax = sns.violinplot(x= tips['day'], y = tips['tip'], hue = tips['smoker'],
                    palette = "Set2", inner = 'quartile', split = True, scale = 'width')
ax.set_title('Tips by day, and smoker', fontsize= 18)

Let's look at it from a different perspective..

In [ ]:
ax = sns.violinplot(x= tips['smoker'], y = tips['tip'], hue = tips['day'],palette = 'bright', 
                   inner = 'quartile', scale = 'width')
ax.set_title('Tips by day, smoker', fontsize= 18)

We see that the high-tip smokers don't come by the restaurant each day.

Let's ask, does the smoker principle holds when comparing men and women?

In [ ]:
ax = sns.violinplot(x= tips['sex'], y = tips['tip'], hue = tips['smoker'], inner = 'quartile',
                    scale = 'width',
                    palette = sns.cubehelix_palette(10))
ax.set_title('Tips by sex, smoker', fontsize= 18);

In [ ]:
ax = sns.boxplot(x= tips['day'], y = tips['tip'], hue = tips['time'], palette = 'pastel')
ax.set_title('Tips by day and time', fontsize= 18);

In [ ]:
ax = sns.violinplot(x= tips['smoker'], y = tips['tip'], hue = tips['time'],
                     inner = 'quartile', scale = 'width',
                    palette = sns.cubehelix_palette(start=2, rot=0, dark=0, light=.95, reverse=False))
ax.set_title('Tips by smoker, time', fontsize= 18);

## Pandas as SQL

### Group By

The groupby method is a very powerful method on `DataFrames` that allows grouping data with non-categorical variables. Let's see how it works.

In [38]:
tips.groupby('sex')

To see its value we need to apply another method on top of it. Let's get the count of records in each group throughout a dataset. Example: Get the number of tips left by sex.

In [24]:
tips.groupby('sex').size() # size gets the total counts of a groupby object

sex
Male      157
Female     87
dtype: int64

you can also make a groupby object.

In [33]:
tips_gb_day = tips.groupby('day')

tips_gb_day.size()

day
Thur    62
Fri     19
Sat     87
Sun     76
dtype: int64

We can see that our data set is biased, there are more men than women.

In [ ]:
tips.groupby('sex').count() #  gets count by column

We can apply the `count()` method to an individual column.

In [ ]:
tips.groupby('sex')['total_bill'].count()

Great! We get the same result with the `size()` method

Say we'd like to see how tip differes by day of the week. `agg()` method allows you to pass a dictionary to your grouped `DataFrame`(or more precisely to your `groupby` object) indicating, which functions to apply to specific columns.

In [ ]:
tips.groupby('day').size() ###how many days are there represented in the dataset?

We can see that there are only four days of the week in the dataset. Let's get the mean of the tips by day and the counts of each day in our data set.

In [35]:
tips.groupby('day').agg({'tip': np.mean, 'day': np.size})

           tip  day
day
Thur  2.771452   62
Fri   2.734737   19
Sat   2.993103   87
Sun   3.255132   76

We can see that on average, Saturday and Sunday have  higher tips than on Friday and Thursday.

Now let's explore, on average, if men or women are better tippers.

In [42]:
tips.groupby('sex').agg({'tip': np.mean})

             tip
sex
Male    3.089618
Female  2.833448

We can confirm our observations on the EDA.

Now let's explore, on average, if smokers or non-smokers are better tippers.

In [ ]:
tips.groupby('smoker').agg({'tip': np.mean})

We can see that by a little margin, on average smokers are better tippers, confirming the smoker principle.

We can expect that at the dinner, there are better tips, but let's ask our data.

In [ ]:
tips.groupby('time').agg({'tip': np.mean})

We see that we were right...

> We can also group by more than one column..this would be analogous to the hue argument...

In [41]:
tips.groupby(['smoker', 'day']).agg({'tip': [np.size, np.mean]})

              tip
             size      mean
smoker day
Yes    Thur  17.0  3.030000
       Fri   15.0  2.714000
       Sat   42.0  2.875476
       Sun   19.0  3.516842
No     Thur  45.0  2.673778
       Fri    4.0  2.812500
       Sat   45.0  3.102889
       Sun   57.0  3.167895

We can now see that there is more information in our data by grouping for more than one column.

In [40]:
tips.groupby(['smoker', 'sex']).agg({'tip': [np.size, np.mean]})

                tip
               size      mean
smoker sex
Yes    Male    60.0  3.051167
       Female  33.0  2.931515
No     Male    97.0  3.113402
       Female  54.0  2.773519

Now, we see that female smokers tip better than female non-smokers, and that non-smoker men tip better. *However*, based on this data, men tip better than women, despite them being smokers or non-smokers...

We can also make a groupby method on more than two columns!

In [46]:
# Group by three columns
gb = tips.groupby(['smoker', 'sex', 'day'])

# Apply the mean and reset index
df_mean = gb['tip'].mean().reset_index().rename(columns={'tip': 'mean tips'})

# Take a look
df_mean

   smoker     sex   day  mean tips
0     Yes    Male  Thur   3.058000
1     Yes    Male   Fri   2.741250
2     Yes    Male   Sat   2.879259
3     Yes    Male   Sun   3.521333
4     Yes  Female  Thur   2.990000
5     Yes  Female   Fri   2.682857
6     Yes  Female   Sat   2.868667
7     Yes  Female   Sun   3.500000
8      No    Male  Thur   2.941500
9      No    Male   Fri   2.500000
10     No    Male   Sat   3.256563
11     No    Male   Sun   3.115349
12     No  Female  Thur   2.459600
13     No  Female   Fri   3.125000
14     No  Female   Sat   2.724615
15     No  Female   Sun   3.329286

In [45]:
df_summary = gb['tip'].agg([np.mean, np.std]).rename(columns={'mean': 'mean tips',
                                             'std': 'std dev tips'})

df_summary

                    mean tips  std dev tips
smoker sex    day
Yes    Male   Thur   3.058000      1.111573
              Fri    2.741250      1.166808
              Sat    2.879259      1.744338
              Sun    3.521333      1.417432
       Female Thur   2.990000      1.204049
              Fri    2.682857      1.058013
              Sat    2.868667      1.461378
              Sun    3.500000      0.408248
No     Male   Thur   2.941500      1.485623
              Fri    2.500000      1.414214
              Sat    3.256563      1.839749
              Sun    3.115349      1.216401
       Female Thur   2.459600      1.078369
              Fri    3.125000      0.176777
              Sat    2.724615      0.961904
              Sun    3.329286      1.282356

### Join: horizontal

In Pandas, join can be performed with `join()` or `merge()`. Each method has parameters allowing to specify the type of join (left, right, inner, full).

In [ ]:
df1= pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                     'value': np.random.randn(4)})
df2 = pd.DataFrame({'key': ['B', 'D', 'D', 'E'],
                     'value': np.random.randn(4)})

#####  Inner join

In [ ]:
df1.head()

In [ ]:
df2.head()

Merge performs an inner join.

In [ ]:
indexed_df2 = df2.set_index('key')

pd.merge(df1, indexed_df2, left_on= 'key', right_index= True)

In [ ]:
indexed_df2

#####  Left outer join

In [ ]:
pd.merge(df1, df2, on= 'key', how= 'left') # Show all records from df1

#####  Right join

In [ ]:
##Show all records from df 2

pd.merge(df1, df2, on='key', how='right')

#####  Full outer join

In [ ]:
# Show all records from both frames.
pd.merge(df1, df2, on='key', how= 'outer')

### Union: vertical

In [ ]:
df1 = pd.DataFrame({'city': ['Chicago', 'San Francisco', 'New York City'],'rank': range(1, 4)})

df2 = pd.DataFrame({'city': ['Chicago', 'Boston', 'Los Angeles'],'rank': [1, 4, 5]})

In [ ]:
pd.concat([df1, df2])

In [ ]:
pd.concat([df1, df2]).drop_duplicates()

### Update

In [ ]:
tips.loc[tips['tip'] < 2, 'tip'] *= 2

In [ ]:
tips.head()

### Delete

In pandas we select rows we want to keep :)

In [ ]:
tips = tips.loc[tips['tip'] <= 9]

In [ ]:
tips.head()

In [ ]:
tips.shape

#### Final thoughts

We can now interrogate datasets using Pandas, and visualize them using Seaborn. Are you convinced now that Python is fun and easy?